In [1]:
import pandas as pd
import numpy as np
import altair as alt
from tqdm import tqdm
import graphviz
alt.data_transformers.enable('csv')

DataTransformerRegistry.enable('csv')

In [2]:
df1 = pd.read_csv(r"C:\Users\Administrator\Repositories\GreenSecurity-FirstExperiment\Dell Inc. Latitude Latitude 7430 Windows 10\No Scan\Power Saver Plan\Measurement 4\processes_data.csv")

In [3]:
splunk_processes = df1.dropna()[df1.dropna()['PNAME'].str.contains('splunkd')]['PID'].unique()
splunk_processes

array([13560,  7072,  5436], dtype=int64)

In [4]:
df_splunk = df1[df1['PID']==13560]
# df_splunk_forwarder = df1[df1['PID']==18704]
# pid_dict = {17768:'splunk',18704:'splunk_forwarder'}
# df_splunk_all = df1[df1['PID'].isin([17768,18704])]
# df_splunk_all['proc_name'] = df_splunk_all['PID'].apply(lambda x: pid_dict[x])
df_splunk_all = df_splunk

In [7]:
logs = pd.read_csv('../../Downloads/logs_msr_4.csv')
logs._time = pd.to_datetime(logs._time)
web_logs = logs[logs['source']=='webserver'].dropna(axis=1)
user_logs = logs[logs['source']=='user'].dropna(axis=1)

In [8]:
df_splunk_all['time'] = logs._time.min()+pd.to_timedelta(df_splunk_all['Time(sec)'],unit='s')-pd.to_timedelta(3,unit='s')
df_splunk_all['time']

C:\Users\Administrator\AppData\Local\Temp\ipykernel_25808\3798526432.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_splunk_all['time'] = logs._time.min()+pd.to_timedelta(df_splunk_all['Time(sec)'],unit='s')-pd.to_timedelta(3,unit='s')

2       2023-01-19 15:39:27.435000181+02:00
229     2023-01-19 15:39:33.323798656+02:00
458     2023-01-19 15:39:38.933315992+02:00
686     2023-01-19 15:39:44.186336040+02:00
912     2023-01-19 15:39:49.943782091+02:00
                        ...
21230   2023-01-19 15:48:50.814589977+02:00
21453   2023-01-19 15:48:56.562582254+02:00
21674   2023-01-19 15:49:03.827366829+02:00
21896   2023-01-19 15:49:10.177335978+02:00
22119   2023-01-19 15:49:16.756515980+02:00
Name: time, Length: 100, dtype: datetime64[ns, pytz.FixedOffset(120)]

In [10]:
web_logs._raw.to_list()

['2023-01-19T15:49:41.686751 Handled incoming Web Request with sessionID=6d9ad76f-d713-4181-aa0a-310b33a6217a and sending Database Request with connectionID=2ecf7c40-cb3c-442f-ae43-6db43a34af67 query=UPDATE  EMP SET SAL  = 0.5 * SAL;',
 '2023-01-19T15:49:41.686751 Handled incoming Web Request with sessionID=3421688b-8993-4d44-88f1-4cd239d26c96 and sending Database Request with connectionID=30906269-f7a0-497e-a51e-1f5c269152b4 query=SELECT PLAYERS.PLAYERNO, NAME, NUMBER_OF_PENALTIES, NUMBER_OF_TEAMS FROM   PLAYERS,  (SELECT PLAYERNO, COUNT(*) AS NUMBER_OF_PENALTIES FROM   PENALTIES GROUP BY PLAYERNO) AS NUMBER_PENALTIES,  (SELECT PLAYERNO, COUNT(*) AS NUMBER_OF_TEAMS FROM   TEAMS GROUP BY PLAYERNO) AS NUMBER_TEAMS WHERE  PLAYERS.PLAYERNO = NUMBER_PENALTIES.PLAYERNO AND  PLAYERS.PLAYERNO = NUMBER_TEAMS.PLAYERNO;',
 '2023-01-19T15:49:41.686751 Database Replied with status=down connectionID=6028884f-ff05-4c83-921c-9d709cced5eb',
 '2023-01-19T15:49:41.686751 Database Replied with status=down connectionID=1956a10d-26ec-4a3d-b10a-43400508db20',
 "2023-01-19T15:49:40.686751 Handled incoming Web Request with sessionID=637d7a0b-c542-48a5-8a57-8f331ec3a84a and sending Database Request with connectionID=00afb195-dda6-4ed2-9dde-ca2e84514402 query=SELECT AVG(TOTAL) FROM (SELECT PLAYERNO, SUM(AMOUNT) AS TOTAL FROM PENALTIES GROUP BY PLAYERNO) AS TOTALS WHERE PLAYERNO IN (SELECT PLAYERNO FROM PLAYERS WHERE TOWN = 'STRATFORD' OR TOWN = 'INGLEWOOD')",
 "2023-01-19T15:49:40.686751 Handled incoming Web Request with sessionID=cdb9c5a2-7c28-47ca-945e-29e7202f389e and sending Database Request with connectionID=772867a5-b025-43fa-9fb7-f7dc59b0364d query=SELECT * FROM EMP WHERE ENAME NOT LIKE 'A%';",
 '2023-01-19T15:49:40.686751 Handled incoming Web Request with sessionID=77b7b144-5af5-4006-8bcc-dbd6e7779138 and sending Database Request with connectionID=055c5580-fa8d-4f4a-8ada-6b2e92a59e9d query=SELECT E.ENAME, D.DEPTNO,E.SAL FROM EMP E,DEPT D  WHERE E.DEPTNO=D.DEPTNO;',
 '2023-01-19T15:49:40.686751 Handled incoming Web Request with sessionID=8f8d940e-0c01-42ec-858a-8523d5a4779f and sending Database Request with connectionID=3c4f7ae6-890b-469c-b804-a73a4fbd9b0e query=SELECT * FROM EMPLOYEE E, SALARY_GRADE SD WHERE E.SAL<=SD.LOWSAL;',
 '2023-01-19T15:49:40.686751 Database Replied with status=down connectionID=f21becb5-6b22-4414-9b7d-3c6160e3dd82',
 '2023-01-19T15:49:40.686751 Database Replied with status=down connectionID=84ff92e7-4bdc-450a-b9a1-2536f1b54561',
 '2023-01-19T15:49:40.686751 Database Replied with status=down connectionID=0b0c5371-340f-456f-8872-781e1d9d5201',
 '2023-01-19T15:49:40.686751 Database Replied with status=down connectionID=31f46401-21f3-44f8-a87f-caed766a6e1e',
 '2023-01-19T15:49:39.686751 Handled incoming Web Request with sessionID=937c58db-a41b-45b5-a7b8-d4c42b86a72e and sending Database Request with connectionID=f3588ed5-549c-432d-a063-b894959d1cb5 query=ALTER TABLE EMP ADD (DEPTNO SHORT);',
 '2023-01-19T15:49:39.686751 Handled incoming Web Request with sessionID=4c910daa-607e-4a03-9cb3-0721993bb24e and sending Database Request with connectionID=193911aa-dffa-44ed-ac7b-ad694119ac91 query=SELECT ENAME,(SAL / 12) + NVL(COMM,0) AS MONTHSALWITHCOMM FROM EMP;',
 '2023-01-19T15:49:39.686751 Database Replied with status=down connectionID=0e4855d7-34ad-48ab-b623-a79b4da06faf',
 '2023-01-19T15:49:39.686751 Database Replied with status=down connectionID=30698dbd-923a-4c28-854a-b6c20201edde',
 '2023-01-19T15:49:38.686751 Handled incoming Web Request with sessionID=6454fa10-7c00-4cd7-b81d-2acb5973cea6 and sending Database Request with connectionID=bfe50b4e-4b3f-440e-aefd-9bebe66d1a8c query=SELECT ENO,ENAME,SAL FROM EMP;',
 '2023-01-19T15:49:38.686751 Handled incoming Web Request with sessionID=906a0172-9857-42d6-a0f2-426a5cd2eb3e and sending Database Request with connectionID=b0efe035-15bf-41b8-abdb-2af7b137a045 query=SELECT SAL / 12 FROM EMP;',
 '2023-01-19T15:49:38.686751 Handled incoming Web Request with sessionID=52765ad7-7771-4a91-b10d-4a29d1fe1ce7 and sending Database Request with connectionID=7f8aaf9b-a9ac-4778-93dc-04b09c75a07d query=SELECT ENAME,(SAL / 12) + NVL(COMM,0) AS MONTHSALWITHCOMM FROM EMP;',
 '2023-01-19T15:49:38.686751 Database Replied with status=down connectionID=f4469cba-1621-464a-81ea-c98ee93068af',
 '2023-01-19T15:49:38.686751 Database Replied with status=down connectionID=1336f805-1d19-46bb-a4f2-b6d925e1b81b',
 '2023-01-19T15:49:37.686751 Handled incoming Web Request with sessionID=c3fd2e27-5f2b-45ae-a308-f35da0db4ebc and sending Database Request with connectionID=1956a10d-26ec-4a3d-b10a-43400508db20 query=SELECT ENAME,SAL FROM EMP  WHERE SAL>2000;',
 "2023-01-19T15:49:37.686751 Handled incoming Web Request with sessionID=6e6fa8c8-3186-499c-b4e1-72e43eb36778 and sending Database Request with connectionID=6028884f-ff05-4c83-921c-9d709cced5eb query=SELECT GROUPS.PGROUP, SUM(P.AMOUNT) FROM  PENALTIES AS P, (SELECT 1 AS PGROUP, '1980-01-01' AS START,  '1981-06-30' AS END  UNION  SELECT 2, '1981-07-01', '1982-12-31'  UNION  SELECT 3, '1983-01-01', '1984-12-31') AS GROUPS WHERE P.PAYMENT_DATE BETWEEN START AND END GROUP BY GROUPS.PGROUP ORDER BY 1;",
 '2023-01-19T15:49:37.686751 Database Replied with status=down connectionID=0513d438-c476-4973-960c-95c957c5dc6c',
 '2023-01-19T15:49:37.686751 Database Replied with status=down connectionID=d751853e-5510-4769-86dc-f59036f07f6c',
 '2023-01-19T15:49:36.686751 Handled incoming Web Request with sessionID=c1732bbd-0ccd-4a6a-a76e-4d83779adc18 and sending Database Request with connectionID=31f46401-21f3-44f8-a87f-caed766a6e1e query=SELECT SAL / 12 AS MONTHLY_SALARY FROM EMP;',
 "2023-01-19T15:49:36.686751 Handled incoming Web Request with sessionID=5a988e0f-3793-4213-9c26-a1199e13a1e3 and sending Database Request with connectionID=84ff92e7-4bdc-450a-b9a1-2536f1b54561 query=SELECT * FROM EMP WHERE EMP_DETAILS.CITY IN('DELHI','BANGALORE');",
 '2023-01-19T15:49:36.686751 Handled incoming Web Request with sessionID=cda69f11-0e55-4ee7-8aca-69c739e6ee8f and sending Database Request with connectionID=0b0c5371-340f-456f-8872-781e1d9d5201 query=SELECT * FROM EMP WHERE COMM IS NOT NULL AND SAL >2000 AND DEPTNO>20;',
 '2023-01-19T15:49:36.686751 Database Replied with status=down connectionID=02a69ea6-01f8-4ddf-9108-dd791bbbe541',
 '2023-01-19T15:49:36.686751 Handled incoming Web Request with sessionID=a870bf87-db07-4152-946c-73438b8d6406 and sending Database Request with connectionID=f21becb5-6b22-4414-9b7d-3c6160e3dd82 query=SELECT P1.PAYMENTNO, P1.AMOUNT, SUM(P2.AMOUNT) FROM  PENALTIES AS P1, PENALTIES AS P2 WHERE P1.PAYMENTNO >= P2. PAYMENTNO GROUP BY P1. PAYMENTNO, P1.AMOUNT ORDER BY P1. PAYMENTNO;',
 '2023-01-19T15:49:36.686751 Database Replied with status=down connectionID=58f85bc9-ce34-482d-97ad-9baff265819a',
 '2023-01-19T15:49:36.686751 Database Replied with status=down connectionID=949efab1-236f-4499-918a-30b7c7cf3157',
 '2023-01-19T15:49:35.686751 Database Replied with status=down connectionID=5d86fda8-911d-4293-a666-6123081fbf43',
 '2023-01-19T15:49:35.686751 Handled incoming Web Request with sessionID=960bd111-a641-4599-be6a-4dbad18316c5 and sending Database Request with connectionID=0e4855d7-34ad-48ab-b623-a79b4da06faf query=SELECT DISTINCT SAL FROM EMP A  WHERE 3 >= (SELECT COUNT(DISTINCT SAL) FROM EMP B  WHERE A.SAL >= B.SAL);',
 '2023-01-19T15:49:35.686751 Handled incoming Web Request with sessionID=04c94901-cc0d-482b-a46d-cee33c8b6968 and sending Database Request with connectionID=30698dbd-923a-4c28-854a-b6c20201edde query=DELETE FROM EMP A WHERE ROWID != (SELECT MAX(ROWID) FROM EMP B WHERE  A.EMPNO=B.EMPNO);',
 '2023-01-19T15:49:35.686751 Database Replied with status=down connectionID=be18cb99-17f0-4605-a19b-1dff5c027b5c',
 '2023-01-19T15:49:34.686751 Database Replied with status=down connectionID=173b3997-95d9-48a9-ae93-9b0c30c73a19',
 '2023-01-19T15:49:34.686751 Handled incoming Web Request with sessionID=11088428-070e-4461-afbf-23328ce6b681 and sending Database Request with connectionID=f4469cba-1621-464a-81ea-c98ee93068af query=SELECT ENAME FROM EMP;',
 '2023-01-19T15:49:34.686751 Handled incoming Web Request with sessionID=72290f74-5fa2-4346-aeab-b4fd14d6d7ba and sending Database Request with connectionID=1336f805-1d19-46bb-a4f2-b6d925e1b81b query=SELECT E.ENAME, D.DEPTNO,E.SAL FROM EMP E,DEPT D;',
 '2023-01-19T15:49:34.686751 Database Replied with status=down connectionID=9ce07270-aa9e-4352-a933-7cfefe51a437',
 '2023-01-19T15:49:34.686751 Database Replied with status=down connectionID=526cd81f-f53e-429b-9f24-1915deaf3f3b',
 '2023-01-19T15:49:33.686751 Handled incoming Web Request with sessionID=ff092c8c-1d4f-4b82-9341-1e21cd8f63e8 and sending Database Request with connectionID=0513d438-c476-4973-960c-95c957c5dc6c query=SELECT E.ENAME, D.DEPTNO,E.SAL FROM EMP E,DEPT D  WHERE E.DEPTNO=D.DEPTNO;',
 '2023-01-19T15:49:33.686751 Handled incoming Web Request with sessionID=b773336d-b524-4058-8e46-f1877bf96faf and sending Database Request with connectionID=d751853e-5510-4769-86dc-f59036f07f6c query=SELECT * FROM EMP A WHERE  ROWID = (SELECT MAX(ROWID) FROM EMP B WHERE  A.EMPNO=B.EMPNO);',
 '2023-01-19T15:49:33.686751 Database Replied with status=down connectionID=2f57d452-3e01-46ce-ba86-25cc04407a2a',
 '2023-01-19T15:49:33.686751 Database Replied with status=down connectionID=bd2b2898-7264-49bd-a784-dba183c5d42d',
 '2023-01-19T15:49:32.686751 Handled incoming Web Request with sessionID=ceb2f94a-5e62-4e86-bf73-f2eb91fdb884 and sending Database Request with connectionID=949efab1-236f-4499-918a-30b7c7cf3157 query=DROP TABLE EMP_OLD;',
 '2023-01-19T15:49:32.686751 Database Replied with status=down connectionID=038a3407-237c-4549-8670-5a579df7cca1',
 '2023-01-19T15:49:32.686751 Handled incoming Web Request with sessionID=85b6edf0-7575-47ed-8f06-9c18e9019a29 and sending Database Request with connectionID=58f85bc9-ce34-482d-97ad-9baff265819a query=DELETE FROM EMP A WHERE ROWID != (SELECT MAX(ROWID) FROM EMP B WHERE  A.EMPNO=B.EMPNO);',
 '2023-01-19T15:49:32.686751 Database Replied with status=down connectionID=001538f7-9d2d-4f86-8ef9-1ebf52af91a5',
 '2023-01-19T15:49:32.686751 Database Replied with status=down connectionID=bc2246ed-f877-4f42-98bf-6881c8b5e892',
 '2023-01-19T15:49:32.686751 Handled incoming Web Request with sessionID=da9b8c86-d660-4747-a96d-600bad314d3a and sending Database Request with connectionID=02a69ea6-01f8-4ddf-9108-dd791bbbe541 query=ALTER TABLE EMP DROP HIREDATE;',
 '2023-01-19T15:49:32.686751 Database Replied with status=down connectionID=471f12c5-b033-452a-8249-32598e5bb200',
 "2023-01-19T15:49:31.686751 Handled incoming Web Request with sessionID=eaf2f79b-6ab2-4a33-8855-2a2fa3f50eb2 and sending Database Request with connectionID=be18cb99-17f0-4605-a19b-1dff5c027b5c query=SELECT AVG(TOTAL) FROM (SELECT PLAYERNO, SUM(AMOUNT) AS TOTAL FROM PENALTIES GROUP BY PLAYERNO) AS TOTALS WHERE PLAYERNO IN (SELECT PLAYERNO FROM PLAYERS WHERE TOWN = 'STRATFORD' OR TOWN = 'INGLEWOOD')",
 '2023-01-19T15:49:31.686751 Database Replied with status=down connectionID=ecd71133-f73d-4f38-9cd7-9675bb0b7984',
 '2023-01-19T15:49:31.686751 Handled incoming Web Request with sessionID=54dced5c-656e-49fa-908a-0d705a1f582c and sending Database Request with connectionID=5d86fda8-911d-4293-a666-6123081fbf43 query=SELECT PLAYERS.PLAYERNO, NAME, NUMBER_OF_PENALTIES, NUMBER_OF_TEAMS FROM   PLAYERS,  (SELECT PLAYERNO, COUNT(*) AS NUMBER_OF_PENALTIES FROM   PENALTIES GROUP BY PLAYERNO) AS NUMBER_PENALTIES,  (SELECT PLAYERNO, COUNT(*) AS NUMBER_OF_TEAMS FROM   TEAMS GROUP BY PLAYERNO) AS NUMBER_TEAMS WHERE  PLAYERS.PLAYERNO = NUMBER_PENALTIES.PLAYERNO AND  PLAYERS.PLAYERNO = NUMBER_TEAMS.PLAYERNO;',
 '2023-01-19T15:49:31.686751 Database Replied with status=down connectionID=f55ed800-6cd4-43de-9bf7-c002edf8f0b1',
 '2023-01-19T15:49:30.686751 Handled incoming Web Request with sessionID=aa76aaea-a1ca-40d3-95b6-458aecb721b9 and sending Database Request with connectionID=526cd81f-f53e-429b-9f24-1915deaf3f3b query=SELECT ENAME FROM EMP;',
 '2023-01-19T15:49:30.686751 Handled incoming Web Request with sessionID=fb1fcf3e-6f0c-4ecf-b6d3-136fc5a08ecd and sending Database Request with connectionID=9ce07270-aa9e-4352-a933-7cfefe51a437 query=SELECT E.ENAME, D.DEPTNO,E.SAL FROM EMP E,DEPT D;',
 '2023-01-19T15:49:30.686751 Handled incoming Web Request with sessionID=6d40ac1c-e81e-4dd6-9263-00ca81d8bdda and sending Database Request with connectionID=173b3997-95d9-48a9-ae93-9b0c30c73a19 query=SELECT * FROM EMP,DEPT WHERE EMP.DEPTNO=DEPT.DEPTNO;',
 '2023-01-19T15:49:30.686751 Database Replied with status=down connectionID=f68ac1b5-8aa4-48e4-98ca-69671ffd0f2e',
 '2023-01-19T15:49:29.686751 Database Replied with status=down connectionID=24aa420f-349d-4df4-8c3c-d1d880052f8a',
 "2023-01-19T15:49:29.686751 Handled incoming Web Request with sessionID=90b6c2e5-e0d3-46d2-8f9f-57f89349d669 and sending Database Request with connectionID=bd2b2898-7264-49bd-a784-dba183c5d42d query=SELECT * FROM EMP WHERE ENAME NOT LIKE 'A%';",
 '2023-01-19T15:49:29.686751 Handled incoming Web Request with sessionID=2eb9e052-0461-482d-9261-0118c39da1b4 and sending Database Request with connectionID=2f57d452-3e01-46ce-ba86-25cc04407a2a query=SELECT * FROM EMP WHERE DEPTNO<20 AND COMM IS NOT NULL OR SAL IN{1000,2000,3000,4000};',
 '2023-01-19T15:49:29.686751 Database Replied with status=down connectionID=946c5ee8-032f-4b11-8747-bdb42bd195bf',
 '2023-01-19T15:49:29.686751 Database Replied with status=down connectionID=379a7a03-f429-4872-89b0-68a955aee083',
 '2023-01-19T15:49:29.686751 Database Replied with status=down connectionID=0d5d294f-e43d-43b2-9a9f-fc3889d6c757',
 "2023-01-19T15:49:28.686751 Handled incoming Web Request with sessionID=6a0d654e-d361-4ca6-b2a4-f9a921e82f7b and sending Database Request with connectionID=471f12c5-b033-452a-8249-32598e5bb200 query=SELECT * FROM EMP WHERE EMP_DETAILS.CITY IN('DELHI','BANGALORE');",
 '2023-01-19T15:49:28.686751 Handled incoming Web Request with sessionID=6b16b4cc-a3e4-4ce9-9bb0-338ef2037256 and sending Database Request with connectionID=bc2246ed-f877-4f42-98bf-6881c8b5e892 query=SELECT * FROM EMP E, DEPT D WHERE D.DEPTNO BETWEEN 10 AND 20;',
 '2023-01-19T15:49:28.686751 Handled incoming Web Request with sessionID=01b424a2-717f-469e-afec-9cdc607baf69 and sending Database Request with connectionID=038a3407-237c-4549-8670-5a579df7cca1 query=SELECT SAL / 12 AS MONTHLY_SALARY FROM EMP;',
 "2023-01-19T15:49:28.686751 Handled incoming Web Request with sessionID=eb5b4897-9917-494a-b6ba-4db812f447e7 and sending Database Request with connectionID=001538f7-9d2d-4f86-8ef9-1ebf52af91a5 query=SELECT * FROM EMP WHERE ENAME NOT IN('SCOTT','WARD','ALLEN');",
 '2023-01-19T15:49:28.686751 Database Replied with status=down connectionID=3bc59cfc-283a-4419-8870-0493d41130f3',
 '2023-01-19T15:49:27.686751 Database Replied with status=down connectionID=22b6e2c2-3a74-4228-9c53-6e64e5d767f1',
 '2023-01-19T15:49:27.686751 Handled incoming Web Request with sessionID=4576641f-5918-407a-b364-dc91822861e4 and sending Database Request with connectionID=f55ed800-6cd4-43de-9bf7-c002edf8f0b1 query=CREATE TABLE EMP (EMPNO NUMBER,ENAME VARCHAR(25),JOB CHAR(10) ,HIREDATE DATE);',
 '2023-01-19T15:49:27.686751 Database Replied with status=down connectionID=814fe763-91f4-4b4b-912c-1515e474e9d6',
 '2023-01-19T15:49:27.686751 Handled incoming Web Request with sessionID=06d2d4f0-a7b5-4d29-ac97-106948b7f36d and sending Database Request with connectionID=ecd71133-f73d-4f38-9cd7-9675bb0b7984 query=SELECT * FROM EMPLOYEE E,BONUS B WHERE E.EMPNO=B.EMPNO;',
 '2023-01-19T15:49:27.686751 Database Replied with status=down connectionID=f62edf23-a203-478c-b4ef-24515f45230e',
 '2023-01-19T15:49:26.686751 Database Replied with status=down connectionID=425baa23-4ad1-4c2a-bb0d-9e0e8a5be0e0',
 "2023-01-19T15:49:26.686751 Handled incoming Web Request with sessionID=69d66bd5-9e54-42b2-9ebc-c0a943c4f17b and sending Database Request with connectionID=f68ac1b5-8aa4-48e4-98ca-69671ffd0f2e query=SELECT GROUPS.PGROUP, SUM(P.AMOUNT) FROM  PENALTIES AS P, (SELECT 1 AS PGROUP, '1980-01-01' AS START,  '1981-06-30' AS END  UNION  SELECT 2, '1981-07-01', '1982-12-31'  UNION  SELECT 3, '1983-01-01', '1984-12-31') AS GROUPS WHERE P.PAYMENT_DATE BETWEEN START AND END GROUP BY GROUPS.PGROUP ORDER BY 1;",
 '2023-01-19T15:49:26.686751 Database Replied with status=down connectionID=eed16ea7-eac5-463e-98ed-60caa2351482',
 '2023-01-19T15:49:25.686751 Database Replied with status=down connectionID=e14df14b-f1ca-4fff-8f22-5785758d5e37',
 '2023-01-19T15:49:25.686751 Handled incoming Web Request with sessionID=266c65e2-4e9b-4478-b1fe-11de29b1731d and sending Database Request with connectionID=379a7a03-f429-4872-89b0-68a955aee083 query=SELECT * FROM CATEGORIES C ,PRODUCTS P WHERE P.CATEGORYID = C.CATEGORYID;',
 '2023-01-19T15:49:25.686751 Handled incoming Web Request with sessionID=0f45c28d-b784-4553-9720-01b569e35ad8 and sending Database Request with connectionID=24aa420f-349d-4df4-8c3c-d1d880052f8a query=SELECT EMPNO,ENAME,B.DEPTNO,DNAME FROM EMP A, DEPT B WHERE A.DEPTNO(+) = B.DEPTNO AND EMPNO IS NULL;',
 '2023-01-19T15:49:25.686751 Database Replied with status=down connectionID=c2bb8601-1746-41a9-8994-2ba47e942710',
 '2023-01-19T15:49:25.686751 Database Replied with status=down connectionID=58449694-aaa1-4efc-949f-d45a27c09ba3',
 '2023-01-19T15:49:25.686751 Handled incoming Web Request with sessionID=cdbd2996-6eda-4886-b469-35507c6ea7ff and sending Database Request with connectionID=946c5ee8-032f-4b11-8747-bdb42bd195bf query=SELECT ENAME,(SAL / 12) + NVL(COMM,0) AS MONTHSALWITHCOMM FROM EMP;',
 '2023-01-19T15:49:25.686751 Handled incoming Web Request with sessionID=5d2eefba-27db-4798-ada5-ab4c53148bb1 and sending Database Request with connectionID=0d5d294f-e43d-43b2-9a9f-fc3889d6c757 query=SELECT ENO,ENAME,SALARY AS SAL FROM EMP;',
 '2023-01-19T15:49:25.686751 Database Replied with status=down connectionID=785eac0d-01d9-495a-9489-5c17ffc830ab',
 "2023-01-19T15:49:24.686751 Handled incoming Web Request with sessionID=dc7e7e97-9189-498d-b78a-b1ea28f366da and sending Database Request with connectionID=3bc59cfc-283a-4419-8870-0493d41130f3 query=SELECT * FROM EMP WHERE ENAME NOT IN('SCOTT','WARD','ALLEN');",
 '2023-01-19T15:49:24.686751 Database Replied with status=down connectionID=55169553-5bf3-4715-9629-4a1992f7ce74',
 '2023-01-19T15:49:23.686751 Handled incoming Web Request with sessionID=bee6e24d-b72b-4850-99a8-62fb2630b04f and sending Database Request with connectionID=22b6e2c2-3a74-4228-9c53-6e64e5d767f1 query=SELECT ENAME,SAL FROM EMP  WHERE SAL>2000;',
 '2023-01-19T15:49:23.686751 Handled incoming Web Request with sessionID=12e4429b-e5ba-4517-a85b-7351cea616f5 and sending Database Request with connectionID=814fe763-91f4-4b4b-912c-1515e474e9d6 query=SELECT * FROM EMP WHERE SAL>2000 AND DEPTNO>20 AND ENAME NOT LIKE(A%);',
 '2023-01-19T15:49:23.686751 Database Replied with status=down connectionID=ac774375-ea79-47c4-8062-9a7c99e322a5',
 '2023-01-19T15:49:23.686751 Database Replied with status=down connectionID=43db96b2-0f4d-4b66-bb56-b872ecbe67ab',
 '2023-01-19T15:49:23.686751 Handled incoming Web Request with sessionID=bdb3b84a-5b23-497c-ab30-72624c38a6d7 and sending Database Request with connectionID=f62edf23-a203-478c-b4ef-24515f45230e query=SELECT * FROM EMP,DEPT,PRODUCTS,RECORDS,ACCOUNT;',
 '2023-01-19T15:49:23.686751 Database Replied with status=down connectionID=58f251c6-5d40-42a2-a970-1a036dc1afca',
 '2023-01-19T15:49:23.686751 Database Replied with status=down connectionID=690631af-994e-4524-94df-70d21a00d704',
 '2023-01-19T15:49:22.686751 Handled incoming Web Request with sessionID=7ea9e52c-ef98-4fa4-ab83-8a015f44dcc9 and sending Database Request with connectionID=425baa23-4ad1-4c2a-bb0d-9e0e8a5be0e0 query=SELECT ENO,ENAME,SAL FROM EMP;',
 '2023-01-19T15:49:22.686751 Database Replied with status=down connectionID=068b63cf-d7a7-478d-a395-9bf712e739da',

In [136]:
cpu = alt.Chart(df_splunk_all).mark_line(
    ).encode(
    # alt.Color("proc_name:N"),
    alt.Y2("CPU(%):Q"),
    alt.X("time:T"),
).properties(title='CPU usage')

web_logs_count = alt.Chart(web_logs).mark_bar(
    ).encode(
    alt.Y("count():Q"),
    alt.X("_time:T"),
)

In [137]:
web_logs_count+cpu

c:\Users\Administrator\.conda\envs\py310\lib\site-packages\altair\utils\core.py:283: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_name, dtype in df.dtypes.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\altair\utils\core.py:283: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_name, dtype in df.dtypes.iteritems():

alt.LayerChart(...)

In [10]:
alt.Chart(df_splunk_all).mark_line(
    ).encode(
    alt.Color("proc_name:N"),
    alt.Y("WRITE_IO(#):Q", stack=None),
    alt.X("Time(sec):Q"),
).properties(title='WRITE_IO num')

alt.Chart(...)

In [11]:
alt.Chart(df_splunk_all).mark_line(
    ).encode(
    alt.Color("proc_name:N"),
    alt.Y("READ_IO(#):Q", stack=None),
    alt.X("Time(sec):Q"),
).properties(title='READ_IO num')

alt.Chart(...)

In [12]:
alt.Chart(df_splunk_all).mark_line(
    ).encode(
    alt.Color("proc_name:N"),
    alt.Y("READ_IO(KB):Q", stack=None),
    alt.X("Time(sec):Q"),
).properties(title='READ_IO kb')

alt.Chart(...)

In [13]:
alt.Chart(df_splunk_all).mark_line(
    ).encode(
    alt.Color("proc_name:N"),
    alt.Y("WRITE_IO(KB):Q", stack=None),
    alt.X("Time(sec):Q"),
).properties(title='WRITE_IO kb')

alt.Chart(...)

In [114]:
import sweetviz as sv

my_report = sv.analyze(logs)
my_report.show_html() # Default arguments will generate to "SWEETVIZ_REPORT.html"

c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\dataframe_report.py:74: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  all_source_names = [cur_name for cur_name, cur_series in source_df.iteritems()]
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\dataframe_report.py:109: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  filtered_series_names_in_source = [cur_name for cur_name, cur_series in source_df.iteritems()

                                             |          | [  0%]   00:00 -> (? left)

c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_text.py:19: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in to_process.source_counts["value_counts_without_nan"].iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_text.py:19: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in to_process.source_counts["value_counts_without_nan"].iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_text.py:19: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in to_process.source_counts["value_counts_without_nan"].iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer.py:16: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  value_counts_without_nan = pd.Series()
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_text.py:19: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in to_process.source_counts["value_counts_without_nan"].iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_numeric.py:25: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  stats["mad"] = series.mad()
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_text.py:19: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in to_process.source_counts["value_counts_without_nan"].iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer.py:16: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  value_counts_without_nan = pd.Series()
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_text.py:19: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in to_process.source_counts["value_counts_without_nan"].iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer.py:16: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  value_counts_without_nan = pd.Series()
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_text.py:19: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in to_process.source_counts["value_counts_without_nan"].iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer.py:16: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  value_counts_without_nan = pd.Series()
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_text.py:19: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in to_process.source_counts["value_counts_without_nan"].iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():
c:\Users\Administrator\.conda\envs\py310\lib\site-packages\sweetviz\series_analyzer_cat.py:28: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for item in category_counts.iteritems():

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

Create Processes tree

In [2]:
import psutil
def rec_print_proc(proc, i=0):
    tabs = ''.join(i*['\t\t'])
    print(f"\n{tabs}{proc.__str__()}")
    print(f"\n{tabs}num of childs: {len(proc.children())}")
    # print(f"\n{tabs}parents: {proc.parent().__str__()}")
    print(f"\n{tabs}cmdline: {proc.cmdline()}\n\n")
    if not proc.children():
        return
    for child in proc.children():
        rec_print_proc(child, i+1)

for proc in psutil.process_iter(['pid', 'name', 'username']):
    if proc.name().__contains__('splunk'):
        if proc.parent().name() == 'services.exe':
            rec_print_proc(proc)
            print('\n\n')

psutil.Process(pid=17768, name='splunkd.exe', status='running', started='09:45:54')

num of childs: 5

cmdline: ['C:\\Program Files\\Splunk\\bin\\splunkd.exe', 'service']



		psutil.Process(pid=15320, name='conhost.exe', status='running', started='09:45:54')

		num of childs: 0

		cmdline: ['\\??\\C:\\windows\\system32\\conhost.exe', '0x4']



		psutil.Process(pid=15088, name='mongod.exe', status='running', started='09:46:19')

		num of childs: 0

		cmdline: ['mongod.exe', '--dbpath=C:\\Program Files\\Splunk\\var\\lib\\splunk\\kvstore\\mongo', '--storageEngine=wiredTiger', '--wiredTigerCacheSizeGB=2.250000', '--port=9003', '--timeStampFormat=iso8601-utc', '--oplogSize=200', '--keyFile=C:\\Program Files\\Splunk\\var\\lib\\splunk\\kvstore\\mongo\\splunk.key', '--setParameter=enableLocalhostAuthBypass=0', '--setParameter=oplogFetcherSteadyStateMaxFetcherRestarts=0', '--replSet=3F8CB569-37ED-42BD-A150-5C6ED48C612A', '--bind_ip=0.0.0.0', '--sslMode=requireSSL', '--sslAllowInvalidHostnames', '--sslCertificateSelector=subject=SplunkServerDefaultCert', '--sslAllowInvalidCertificates', '--sslAllowConnectionsWithoutCertificates', '--tlsDisabledProtocols=noTLS1_0,noTLS1_1', '--sslCipherConfig=ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDH-ECDSA-AES256-GCM-SHA384:ECDH-ECDSA-AES128-GCM-SHA256:ECDH-ECDSA-AES128-SHA256:AES256-GCM-SHA384:AES128-GCM-SHA256:AES128-SHA256', '--noscripting']



		psutil.Process(pid=17412, name='python3.exe', status='running', started='09:46:21')

		num of childs: 0

		cmdline: ['C:\\Program Files\\Splunk\\bin\\Python3.exe', '-O', 'C:\\Program Files\\Splunk\\Python-3.7\\Lib\\site-packages\\splunk\\appserver\\mrsparkle\\root.py', '--proxied=127.0.0.1,9002,9000']



		psutil.Process(pid=7688, name='splunk-winevtlog.exe', status='running', started='09:46:21')

		num of childs: 0

		cmdline: ['C:\\Program Files\\Splunk\\bin\\splunk-winevtlog.exe']



		psutil.Process(pid=17652, name='splunkd.exe', status='running', started='09:46:22')

		num of childs: 0

		cmdline: ['C:\\Program Files\\Splunk/bin/splunkd', 'instrument-resource-usage', '-p', '9001', '--with-kvstore']






psutil.Process(pid=18704, name='splunkd.exe', status='running', started='09:44:19')

num of childs: 2

cmdline: ['C:\\Program Files\\SplunkUniversalForwarder\\bin\\splunkd.exe', 'service']



		psutil.Process(pid=12688, name='conhost.exe', status='running', started='09:44:19')

		num of childs: 0

		cmdline: ['\\??\\C:\\windows\\system32\\conhost.exe', '0x4']



		psutil.Process(pid=12960, name='splunk-winevtlog.exe', status='running', started='09:44:31')

		num of childs: 0

		cmdline: ['C:\\Program Files\\SplunkUniversalForwarder\\bin\\splunk-winevtlog.exe']