In [3]:
import pandas as pd

full_df_path = r"C:\Users\Administrator\Desktop\green security\results\full_dataset.csv"

In [4]:
full_df = pd.read_csv(full_df_path)

In [5]:
full_df.shape

(8183, 58)

In [10]:
# System Columns
CPU_SYSTEM_COL = "cpu_seconds_system"
MEMORY_SYSTEM_COL = "memory_mb_relative_system"
DISK_READ_BYTES_SYSTEM_COL = "disk_read_kb_system"
DISK_READ_COUNT_SYSTEM_COL = "disk_read_count_system"
DISK_WRITE_BYTES_SYSTEM_COL = "disk_write_kb_system"
DISK_WRITE_COUNT_SYSTEM_COL = "disk_write_count_system"
DISK_READ_TIME = "disk_read_time_ms_system"
DISK_WRITE_TIME = "disk_write_time_ms_system"
NETWORK_BYTES_SENT_SYSTEM_COL = "network_kb_sent_system"
NETWORK_PACKETS_SENT_SYSTEM_COL = "network_packets_sent_system"
NETWORK_BYTES_RECEIVED_SYSTEM_COL = "network_kb_received_system"
NETWORK_PACKETS_RECEIVED_SYSTEM_COL = "network_packets_received_system"
BATTERY_CAPACITY_MWH_SYSTEM_COL = "battery_capacity_mwh_system"

DURATION_COL = "duration"

FULLY_CHARGED_BATTERY_CAPACITY = "fully_charged_battery_capacity"

In [11]:
system_features_df = full_df[[CPU_SYSTEM_COL, MEMORY_SYSTEM_COL,
                              DISK_READ_BYTES_SYSTEM_COL, DISK_READ_COUNT_SYSTEM_COL, DISK_WRITE_BYTES_SYSTEM_COL,
                              DISK_WRITE_COUNT_SYSTEM_COL, DISK_READ_TIME, NETWORK_BYTES_SENT_SYSTEM_COL,
                              NETWORK_PACKETS_SENT_SYSTEM_COL, NETWORK_BYTES_RECEIVED_SYSTEM_COL,
                              NETWORK_PACKETS_RECEIVED_SYSTEM_COL, BATTERY_CAPACITY_MWH_SYSTEM_COL, DURATION_COL, FULLY_CHARGED_BATTERY_CAPACITY]]

In [12]:
system_features_df.head()

,cpu_seconds_system,memory_mb_relative_system,disk_read_kb_system,disk_read_count_system,disk_write_kb_system,disk_write_count_system,disk_read_time_ms_system,network_kb_sent_system,network_packets_sent_system,network_kb_received_system,network_packets_received_system,battery_capacity_mwh_system,duration,fully_charged_battery_capacity
0,4.192767,30.720,692.0,37,6674.5,408,0,0.700,8,17,17,29214,5.260686,47850
1,3.736166,3.072,36.0,3,1439.5,102,0,3.155,5,7,7,29214,5.318386,47850
2,3.260090,-3.072,100.0,9,1062.5,63,0,8.820,108,6,6,29214,5.249743,47850
3,2.948288,2.048,160.0,13,1307.5,101,0,0.000,0,17,17,29214,5.307450,47850
4,3.242368,2.048,68.0,2,1965.5,37,0,70.788,120,35,35,29214,5.242309,47850

In [ ]:
system_features_df[]